<style>
	body {
		background-color: rgb(238, 238, 238);
	}
	#error_explanation ul {
		max-width: 240px;
		margin: 0 auto;
		color: #b31c24;
		text-align: center;
		list-style-type: none;
		padding: 0px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 1.4em;
	}
	.blues {
		margin-top: 5%;
		max-width: 500px;
	}
</style>
<div class="container-fluid blues text-center">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form", :class => "form-horizontal", style: "max-width: 900px;padding: 5px; margin: 0 auto;"}) do |f| %>
		<%= render partial: "devise/header" %>
		<h3 class="text-center" style="margin-top: 25px; margin-bottom: 30px; font-weight: 700;">Cadastro de usuários</h3>
		<div class="text=center">
			<%= devise_error_messages! %>
		</div>
		<div>
			<div class="col-sm-6">
				<p>Dados Pessoais</p>
				<%= f.text_field :name, autofocus: true, :class => "form-control", placeholder: "Nome", style:"margin-bottom: 10px;"  %>
				<%= f.email_field :email, autofocus: true, :class => "form-control", placeholder: "Endereço de email", style:"margin-bottom: 10px;"  %>
				<%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "Senha", style:"margin-bottom: 10px;"   %>
				<%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "Confirmação de senha", style:"margin-bottom: 10px;"   %>
<!-- 				<%= f.text_field :address, autocomplete: "off", :class => "form-control", placeholder: "Endereço", style:"margin-bottom: 10px;"   %> -->
				<%= f.text_field :phone, autocomplete: "off", :class => "form-control", :id => "phone", placeholder: "Telefone", style:"margin-bottom: 10px;"   %>

			</div>

			<div class="col-sm-6" style="margin-bottom: 15px;">
				<p>Dados Empresariais</p>
				<%= f.text_field :company, autocomplete: "off", :class => "form-control", placeholder: "Empresa", style:"margin-bottom: 10px;"   %>
				<%= f.text_field :cnpj, autocomplete: "off", :class => "form-control", :id => "cnpj", placeholder: "CNPJ Empresa", style:"margin-bottom: 10px;"   %>
				<%= f.text_field :area, autocomplete: "off", :class => "form-control", placeholder: "Departamento", style:"margin-bottom: 10px;"   %>
				<%= f.text_field :work, autocomplete: "off", :class => "form-control", placeholder: "Cargo", style:"margin-bottom: 10px;"   %>
				<%= f.select( :profile, [['Funcionário Heinz', 1], ['Cliente', 2], ['Fornecedor', 3]], {:include_blank => '-'} , {:class => "form-control", placeholder: "Perfil de usuário", style:"margin-bottom: 10px;"})  %>
				
			</div>
			<div style="margin-bottom: 10px;"> <%= f.submit "Registrar", :class => "btn btn-lg btn-primary btn-block", style:"margin-bottom: 15px; width: 320px; margin: 0 auto;" %></div>
			<div style="text-align: left; width: 320px; margin: 0 auto;">
				<%= render "devise/shared/links" %>
			</div>
		</div>
	<% end %>
</div>

<script>
$("#phone").mask("(99) 9999?9-9999");

$("#phone").on("change", function() {
    var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

    if( last.length == 3 ) {
        var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
        var lastfour = move + last;
        var first = $(this).val().substr( 0, 9 );

        $(this).val( first + '-' + lastfour );
    }
    console.log("craaaazy");
});
$("#cnpj").mask("99.999.999/9999-99");
</script>
