<%= form_for @user, html: { role: "form", :class => "form-horizontal text-center"} do |f| %>
	<% if @user.errors.full_messages.any? %>
		<% @user.errors.full_messages.each do |error_message| %>
		<%= error_message if @user.errors.full_messages.first == error_message %> <br />
	<% end %>
	<% end %>
	
	<div class="form-group text-center">
		<%= f.label :nome, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :name, autocomplete: "off", :class => "form-control" %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.label :email, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.email_field :email, autofocus: true, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.label :telefone, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :phone, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.label :empresa, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :company, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.label "CNPJ Empresa", :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :cnpj, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.label :departamento, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :area, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.label :cargo, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.text_field :work, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.label :perfil, :class => "col-sm-4 control-label" %>
		<div class="col-sm-4">
			<%= f.select(:profile, [['Funcionário Heinz', 1], ['Cliente', 2], ['Fornecedor', 3]], {}, {class: "form-control"}) %>
		</div>
	</div>
	<div class="form-group text-center">
		<%= f.submit 'Atualizar', :class => "btn btn-success" %>
		<%= link_to "Cancelar", "", :class => "btn btn-primary cancel" %>
	</div>
<% end %>
