.jumbotron{style: "padding: 20px;"}
	.container
		%ul.list-inline
			%li
				%h1
					Usuários
					%small #{@title}
			%li= button_to 'Download .XLS Usuários', users_path(format: "xls"), method: :get, :class => "btn btn-success btn-sm", style: "margin-left: 30px; margin-bottom: 20px"

		= link_to "Todos usuários", :action => "users_admin"
		|
		= link_to "Usuários esperando aprovação", :action => "users_admin", :approved => "false"
		|
		= link_to "Administradores", :action => "users_admin", :admin => "true"
.container
	%table{class: "table table-striped table-bordered table-condensed"}
		%thread
			%tr
				%th.text-center #
				%th.text-center Nome
				%th.text-center Email
				%th.text-center Aprovado?
				%th.text-center Admin?
				%th.text-center Ações
		- @users.each do |user|
			- unless User::STABLE.include?(user.email)
				%tr
					%td.text-center= user.id
					%td.text-center= user.name
					%td.text-center= user.email
					%td.text-center
						- if user.approved && user != current_user
							= link_to "Desaprovar" , disapproved_path(id: user.id), method: :put, :class => "btn btn-default btn-sm"
						- elsif !user.approved && user != current_user
							= link_to "Aprovar" , approved_path(id: user.id), method: :put, :class => "btn btn-primary btn-sm"
						- else
							= link_to "Desaprovar" , disapproved_path(id: user.id), method: :put, :class => "btn btn-default btn-sm", disabled: "disabled"
					%td.text-center
						- if user.admin && user != current_user
							=link_to "Remover" , unset_admin_path(id: user.id), method: :put, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"
						- elsif !user.admin && user != current_user
							=link_to "Admin" , set_admin_path(id: user.id), method: :put, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-sm"
						- else
							=link_to "Remover" , unset_admin_path(id: user.id), :class => "btn btn-danger btn-sm", disabled: "disabled"

					%td.text-center
						= link_to "Editar Usuário", edit_user_path(id: user.id), :class => "btn btn-primary btn-sm edit", remote: true
						= link_to "Deletar Usuário", user_path(id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm"
				%tr{class: "edit_form#{user.id}", style: "display: none;"}
					%td.text-center{colspan: 6} a
			- else
				%tr
					%td.text-center= user.id
					%td.text-center= user.name
					%td.text-center= user.email
					%td.text-center
						= link_to "Desaprovar" , disapproved_path(id: user.id), method: :put, :class => "btn btn-default btn-sm", disabled: "disabled"
					%td.text-center
						=link_to "Remover" , unset_admin_path(id: user.id), :class => "btn btn-danger btn-sm", disabled: "disabled"

					%td.text-center
						= link_to "Editar Usuário", edit_user_path(id: user.id), :class => "btn btn-primary btn-sm edit", remote: true, disabled: "disabled"
						= link_to "Deletar Usuário", user_path(id: user.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" , disabled: "disabled"
