<table border="1" style="font-size: 1em; width: 75%">
  <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Empresa</th>
      <th>CNPJ Empresa</th>
      <th>Area</th>
      <th>Cargo</th>
      <th>Telefone</th>
      <th>Perfil</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
        <td> <%= u.id%> </td>
        <td> <%= u.name%> </td>
        <td> <%= u.email%> </td>
        <td> <%= u.company%> </td>
        <td> <%= u.cnpj%> </td>
        <td> <%= u.area%> </td>
        <td> <%= u.work%> </td>
        <td> <%= u.phone%> </td>
        <td><%= 
          case u.profile
          when "1" then "Funcionário Heinz"
          when "2" then "Cliente"
          when "3" then "Fornecedor"
          end
        %>
        </td>
    </tr>
  <% end %>
</table>