<style>
	body {
		background-color: rgb(238, 238, 238);
	}
	h3 {
		font-size: 1.4em;
	}
	.blues {
		margin-top: 5%;
		max-width: 500px;
	}

</style>
<div class="container-fluid blues">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { role: "form", :class => "form-horizontal", style: "max-width: 330px;padding: 5px; margin: 0 auto;"}) do |f| %>
		<%= render partial: "devise/header" %>
		<h3 class="text-center" style="margin-top: 25px; margin-bottom: 25px; font-weight: 900; font-size: 2.0em;">Troque sua Senha</h3>
		<div class="text-center" style="color: #b31c24">
			<p id="alert"><%= alert %></p>
			<p id="notice"><%= notice %></p>
			<%= devise_error_messages! %>
		</div>
		<%= f.hidden_field :reset_password_token %>

		<div>
		<%= f.password_field :password, autofocus: true, autocomplete: "off",:class => "form-control", placeholder: "Senha", style:"margin-bottom: 10px;" %></div>

		<div>
		<%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", placeholder: "Confirmação de Senha", style:"margin-bottom: 10px;" %></div>

		<%= f.submit "Alterar", :class => "btn btn-lg btn-primary btn-block", style:"margin-bottom: 15px;"%>
		<%= render "devise/shared/links" %>
	<% end %>
</div>
