<style> 
	body {
		background-color: rgb(238, 238, 238);
	}
	#error_explanation ul {
		max-width: 240px;
		margin: 0 auto;
		color: #c96353;
		text-align: left;
		list-style-type: none;
	}
	.form-control {
		max-width: 300px;
		margin: 0 auto;
	}
</style>
<div class="container text-center">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { role: "form", :class => "form-horizontal", style: "padding: 15px; margin: 0 auto; margin-top: 10%;"}) do |f| %>
		<div>
			<p id="alert"><%= alert %></p>
			<p id="notice"><%= notice %></p>
			<%= devise_error_messages! %>
		</div>
		<div>
			<h2>Forgot your password?</h2>
			<%= f.email_field :email, autofocus: true, :class => "form-control", placeholder: "Email address", style:"margin-bottom: 10px;"  %>
			<div style="margin-bottom: 10px;"> <%= f.submit "Reset password", :class => "btn btn-lg btn-primary btn-block", style:"margin-bottom: 10px; width: 300px; margin: 0 auto;" %></div>
			<div style="text-align: left; width: 300px; margin: 0 auto;"> 
				<%= render "devise/shared/links" %>
			</div>
		</div>
	<% end %>
</div>
