<style> 
	body {
		background-color: rgb(238, 238, 238);
	}
</style>
<div class="container">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form", :class => "form-signin", style: "  max-width: 330px;padding: 15px; margin: 0 auto; margin-top: 15%;"}) do |f| %>
	  <h2>Sign in</h2>
	  <%= devise_error_messages! %>
	  <%= f.email_field :email, autofocus: true, :class => "form-control", placeholder: "Email address", style:"margin-bottom: 10px;"  %>
	  <%= f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: "Password" %>

	  <% if devise_mapping.rememberable? -%>
	    <div class="checkbox">
	    	<label>
		    	<%= f.check_box :remember_me %> Remember me
		 </label>
	    </div>
	  <% end -%>

	  <%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block", style:"margin-bottom: 10px;"%>
	  <%= render "devise/shared/links" %>
	<% end %>
</div>