.jumbotron{style: "padding: 20px;"}
	.container
		%ul.list-inline
			%li
				%h1
					= @category.name
					- if @category.parent
						%small - #{@category.parent.name}
				%li= link_to 'Nova Categoria', new_category_path(id: @category.id), method: :get, :class => "btn btn-primary btn-sm", style: "margin-left: 30px; margin-bottom: 20px;"
			- if @category.is_leaf?
				%li= link_to 'Nova Imagem', new_category_image_path(category_id: @category.slug), method: :get, :class => "btn btn-info btn-sm", style: "margin-bottom: 20px;"
.container
	.col-md-12.text-center
		.col-md-12.text-center
			- if @category.parent
				= button_to @category.parent.name, @category.parent, method: :get, class: "btn btn-default btn-sm", style: "margin-bottom: 10px;"
			- else
				= button_to "root", categories_path, method: :get, class: "btn btn-default btn-sm", style: "margin-bottom: 10px;"
		.col-md-12.text-center
			%p{style: "color: #d3d3d3"} \/
		.col-md-12.text-center{style: "margin-bottom: 10px;"}
			= link_to @category.name, @category, method: :get, class: "btn btn-default btn-sm", disabled: "disabled"
			%p{style: "position: absolute; right: 40%;color: #d3d3d3; bottom: -4px;"} ->
			- unless @category.images.empty?
				= link_to "All Images", category_images_path(@category),:class => "btn btn-success btn-sm", style: "position: absolute; right: 25%; display: inline;"
		.col-md-12.text-center
			%p{style: "color: #d3d3d3"} \/
		.col-md-12.text-center
			%ul.list-inline
				- @category.children.each do |cat|
					%li= button_to cat.name, cat, method: :get, class: "btn btn-default btn-sm"
				- @images.each do |img|
					%li= button_to img.name, category_image_path(@category, img), method: :get, class: "btn btn-success btn-sm"
		.col-md-12.text-center{style: "margin-top: 20px; margin-bottom: 10px;"}
			- unless Category::STABLE.include?(@category.name)
				= link_to "Destruir", category_path(id: @category), method: :delete, data: { confirm: 'tem certeza?' }, :class => "btn btn-danger"
				- if @category.parent
					= link_to 'Voltar', nested_category_path(Category.find(@category.parent)),:class => "btn btn-warning"
				- else
					= link_to 'Voltar', categories_path, :class => "btn btn-warning"
			- else
				= link_to "Destruir", category_path(id: @category), method: :delete, data: { confirm: 'tem certeza?' }, :class => "btn btn-danger", disabled: "disabled"
				- if @category.parent
					= link_to 'Voltar', nested_category_path(Category.find(@category.parent)),:class => "btn btn-warning"
				- else
					= link_to 'Voltar', categories_path, :class => "btn btn-warning"
