
<p>
  <strong>Name:</strong>
  <%= @category.name %><%= " (#{@category.height})" %>
</p>

<p>
  <strong>Parent:</strong>
	  <% if @category.parent %>
		  <%= @category.parent.name %><%= " (#{@category.parent.height})" %>
	  <% else %>
	  	<span>root</span>
	  <% end %>
</p>
<%  unless @category.children.empty? %>
	<strong>Children Categories:</strong>
	<% @category.children.each do |child| %>
		<li><%= link_to child.name, nested_category_path(child) %></li>
	<% end %>
<% else %>
	<span>No children categories</span>
<% end %>
<br />
<%= link_to 'New Category', new_category_path(id: @category.id) %>
<br />
<br />
<%  unless @category.images.empty? %>
	<strong>Images:</strong>
	<% @category.images.each do |image| %>
		<li><%= link_to image.name, image %></li>
	<% end %>
<% else %>
	<span>No images</span>
<% end %>

<br />
<%= link_to 'New Image', new_image_path(id: @category.id) %>
<br />
<br />
<%= link_to 'Edit', edit_category_path(@category) %> |
<% if @category.height == 0 %>
	<%= link_to 'Back', categories_path %>
<% else %>
	<%= link_to 'Back', @category.parent %>
<% end %>
