
<p>
  <strong>Name:</strong>
  <%= @category.name %><%= " (#{@category.height})" %>
</p>

<p>
  <strong>Parent:</strong>
  <% if @category.parent %>
	  <%= @category.parent.name %><%= " (#{@category.parent.height})" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
