- if @category.ancestors.map{ |c| c.name}.include?("Heinz")
  .text-center.heinzhd{style: "padding-top: 2%;"}
    = image_tag("heinz_header.png", width: "250px", style: "margin-bottom: 20px;")
    .jumbotron{style: "padding: 10px;background-color:transparent !important;"}
      %h1{style: "color: white; margin-bottom: 30px; margin-top:0px; font-size: 2em;"}
        \\
        - @category.ancestors.each do |cat|
          =link_to cat.name, cat, style: "color: white"
          \\
      %ul.list-inline
        - @images.each do |img|
          %li.point{style: "padding: 0px; margin-right: 10px;"}
            .div{style: "max-width: 200px;"}
              %p{style: "margin-bottom: 10px; font-size: 15px; color: white;"}= img.name
              = image_tag img.avatar.url(:thumb), style: "border: 1px solid gray"
              .button-hover
                = link_to image_tag("download.png", class: "download"), category_image_path(@category, img)
- else
  .text-center.querohd{style: "padding-top: 2%;"}
    = image_tag("quero_header.png", width: "250px", style: "margin-bottom: 20px;")
    .jumbotron{style: "padding: 10px;background-color:transparent !important;"}
      %h1{style: "color: white; margin-bottom: 30px; margin-top:0px; font-size: 2em;"}
        \\
        - @category.ancestors.each do |cat|
          =link_to cat.name, cat, style: "color: white"
          \\
      %ul.list-inline
        - @images.each do |img|
          %li.point{style: "padding: 0px; margin-right: 0px;"}
            .div{style: "max-width: 200px;"}
              %p{style: "margin-bottom: 10px; font-size: 15px; color: white;"}= img.name
              = image_tag img.avatar.url(:thumb), style: "border: 1px solid gray"
              .button-hover
                = link_to image_tag("download.png", class: "download"), category_image_path(@category, img)
