<%= form_for @image, :html => { :multipart => true } do |form| %>  
	<ol class="formList">  
		<div class="field">
			<%= form.label :name %><br>
			<%= form.text_field :name %>
		</div>
  <div class="field">
    <%= form.label :parent %><br>
    <%= form.collection_select(:category_id, Category.order(:id),:id,:name, include_blank: true , selected: @category )%>
  </div>
		<li>  
			<%= form.label :avatar, "Image" %>  
			<%= form.file_field :avatar %>  
		<li>  
			<%= form.submit "Submit" %>  
		</li>  
	</ol>  
<% end %> 