<?xml version="1.0" encoding="UTF-8"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="blank">
      <Font ss:Color="#FFFFFF" />
    </Style>
  </Styles>
  <Worksheet ss:Name="Export">
    <Table>
      <ss:Column ss:Width="25"/>
      <ss:Column ss:Width="100"/>
      <ss:Column ss:Width="60"/>
      <ss:Column ss:Width="120"/>
      <ss:Column ss:Width="120"/>
      <ss:Column ss:Width="100"/>
      <ss:Column ss:Width="100"/>
      <ss:Column ss:Width="100"/>
      <ss:Column ss:Width="100"/>
      <ss:Column ss:Width="100"/>
      <ss:Column ss:Width="100"/>
      <Row>
        <Cell ss:StyleID="blank"><Data ss:Type="String">id</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">name</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">code</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">upc</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">dim_unit</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">weight_unit</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">box_unit</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">dim_box</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">weight_box</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">box_pallet</Data></Cell>
        <Cell ss:StyleID="blank"><Data ss:Type="String">description</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Código</Data></Cell>
        <Cell><Data ss:Type="String">UPC Code</Data></Cell>
        <Cell><Data ss:Type="String">Dimensões Unidade</Data></Cell>
        <Cell><Data ss:Type="String">Peso Unidade</Data></Cell>
        <Cell><Data ss:Type="String">Unidades por Caixa</Data></Cell>
        <Cell><Data ss:Type="String">Dmensões Caixa</Data></Cell>
        <Cell><Data ss:Type="String">Peso Caixa</Data></Cell>
        <Cell><Data ss:Type="String">Caixas por Pallet</Data></Cell>
        <Cell><Data ss:Type="String">Descrição</Data></Cell>
      </Row>
    <% @images.each do |u| %>
      <Row>
        <Cell><Data ss:Type="String"><%= u.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.upc %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.dim_unit %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.weight_unit %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.box_unit %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.dim_box %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.weight_box %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.box_pallet %></Data></Cell>
        <Cell><Data ss:Type="String"><%= u.description %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

<!-- <table border="1" style="font-size: 1em; width: 75%">
  <tr style=" border: 1px solid white; color:white;">
      <th style="border: 1px solid white; border-bottom: 1px solid black;">id</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">name</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">code</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">upc</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">dim_unit</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">weight_unit</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">box_unit</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">dim_box</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">weight_box</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">box_pallet</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">description</th>
  </tr>
  <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Código</th>
      <th>UPC Code</th>
      <th>Dimensões Unidade</th>
      <th>Peso Unidade</th>
      <th>Unidades por Caixa</th>
      <th>Dimensões Caixa</th>
      <th>Peso Caixa</th>
      <th>Caixas por Pallet</th>
      <th>Descrição</th>
  </tr>
  <% @images.each do |u| %>
    <tr>
        <td> <%= u.id%> </td>
        <td> <%= u.name%> </td>
        <td> <%= u.code%> </td>
        <td> <%= u.upc%> </td>
        <td> <%= u.dim_unit%> </td>
        <td> <%= u.weight_unit%> </td>
        <td> <%= u.box_unit%> </td>
        <td> <%= u.dim_box%> </td>
        <td> <%= u.weight_box%> </td>
        <td> <%= u.box_pallet%> </td>
        <td> <%= u.description%> </td>
    </tr>
  <% end %>
</table> -->