<table border="1" style="font-size: 1em; width: 75%">
  <tr style=" border: 1px solid white; color:white;">
      <th style="border: 1px solid white; border-bottom: 1px solid black;">id</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">name</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">code</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">upc</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">dim_unit</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">weight_unit</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">box_unit</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">dim_box</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">weight_box</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">box_pallet</th>
      <th style="border: 1px solid white; border-bottom: 1px solid black;">description</th>
  </tr>
  <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Código</th>
      <th>UPC Code</th>
      <th>Dimensões Unidade</th>
      <th>Peso Unidade</th>
      <th>Unidades por Caixa</th>
      <th>Dimensões Caixa</th>
      <th>Peso Caixa</th>
      <th>Caixas por Pallet</th>
      <th>Descrição</th>
  </tr>
  <% @images.each do |u| %>
    <tr>
        <td> <%= u.id%> </td>
        <td> <%= u.name%> </td>
        <td> <%= u.code%> </td>
        <td> <%= u.upc%> </td>
        <td> <%= u.dim_unit%> </td>
        <td> <%= u.weight_unit%> </td>
        <td> <%= u.box_unit%> </td>
        <td> <%= u.dim_box%> </td>
        <td> <%= u.weight_box%> </td>
        <td> <%= u.box_pallet%> </td>
        <td> <%= u.description%> </td>
    </tr>
  <% end %>
</table>